@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

body,
td,
th,
p {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #666;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  max-width: 100%;
}

#footer {
  display: flex;
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer div {
  flex: 1;
}

#footer div:nth-child(2) {
  flex: 2;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  padding: 1rem;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 15px 20px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
  display: flex;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: '/\00a0';
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0063b9;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  width: 100%;
  height: 0;
  background-color: #01447e;
  transition: height 0.5s ease-in-out;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  max-width: 100%;
  /*height: 50px;*/
  padding: 1rem;
  background-color: #01447e;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px 1em;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 45px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100%;
  /* Select option  */
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#restaurants-list li {
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 0 0 30px;
  min-height: 380px;
  text-align: left;
  max-width: 100%;
  border-radius: 20px 0;
  overflow: hidden;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h2 {
  padding-left: 1rem;
  color: #654723;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  padding-left: 1rem;
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #000;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 1rem 1rem;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  max-width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  right: 0;
  height: 300px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  width: 100%;
}

#restaurant-name {
  color: #654723;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  border-radius: 20px 0 0 0;
  overflow: hidden;
}

#restaurant-address {
  font-size: 1.25rem;
  margin: 0.75rem 0;
  text-align: center;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#reviews-container,
#form-reviews-container {
  padding: 30px 20px;
}

#form-reviews-container label {
  font-size: 1rem;
  color: #555;
  font-weight: 100;
  line-height: normal;
  margin: 0px;
}

#form-reviews-container input,
#form-reviews-container textarea {
  border: 0px solid;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  width: 100%;
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0.5);
}

#form-reviews-container input.required_empty {
  border-bottom: 1px solid red;
}

#form-reviews-container input[type='submit'] {
  background: #8a4b00;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  border-bottom: 3px solid orange;
}

#form-reviews-container select {
  width: 100%;
  height: 2rem;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
  border-radius: 0px;
}

#reviews-container h2 {
  color: #8a4b00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#reviews-list li {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 20px 0;
}

#reviews-list li .title-container {
  background-color: #444;
  display: flex;
  width: 100%;
  padding: 1rem;
  height: 3rem;
}

#reviews-list li .title-container p {
  color: white;
  margin: 0;
  line-height: initial;
}

#reviews-list li .title-container p:nth-child(2) {
  color: #dcdcdc;
}

#reviews-list li p {
  margin: 0 0 10px;
  width: 50%;
}

#reviews-list li p:nth-child(2) {
  text-align: right;
}

#reviews-list .rating {
  padding: 0.25rem 1rem;
  margin: 1rem;
  height: 2rem;
  width: auto;
  border-radius: 0.25rem;
  color: #333;
  font-weight: bold;
  background-color: #f58500;
}

#reviews-list .comments {
  width: 100%;
  padding: 1rem;
}

#restaurant-infos-container {
  flex: 1;
}

#restaurant-hours {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

#restaurant-hours tr {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted #ccc;
  padding: 0.25rem;
}

#restaurant-hours tr:last-of-type {
  border-bottom: none;
}

#restaurant-hours td {
  color: #666;
  padding: 0.25rem 0;
}

#restaurant-hours td:last-of-type {
  flex: 1;
  text-align: right;
  font-weight: 100;
}

.restaurant-title-container {
  display: flex;
  margin-bottom: 1rem;
}

.fav-check {
  display: flex;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
}

.fav-check .title {
  line-height: 2.1;
  margin-right: 2rem;
}

/* Restaurant Table media queries */

@media screen and (min-width: 500px) {
  #restaurant-hours {
    padding: 1rem;
  }
  #restaurant-hours tr {
    flex-direction: row;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
